dev: false
api:
  port: 8000
  session_secret: {{ api_session_secret }}
db:
  port: 5432
  user: {{ db_user }}
  password: {{ db_password }}
  database: bitcoin-coverage
  host: localhost
github:
  access_token: {{ gh_access_token }}
  oauth_client_id: {{ gh_oauth_client_id }}
  oauth_secret: {{ gh_oauth_secret }}
  oauth_redirect_url: {{ gh_oauth_redirect_url }}
