apiVersion: 1
datasources:
  - name: ${cloudwatch_name}
    uid: corecheck-cloudwatch
    type: cloudwatch
    access: proxy
    editable: false
    jsonData:
      authType: default
      defaultRegion: ${default_region}
  - name: Corecheck test names
    uid: corecheck-test-names
    type: yesoreyeram-infinity-datasource
    access: proxy
    editable: false
    jsonData:
      allowedHosts:
        - http://test-names:8080
